<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000060048128-epg3tkg95m7tqj7o34vlb457m4bo62ng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000060048128-epg3tkg95m7tqj7o34vlb457m4bo62ng</string>
	<key>API_KEY</key>
	<string>AIzaSyBWL79i3C1Sv_hIM_X2er3IFQSERfkWNAs</string>
	<key>GCM_SENDER_ID</key>
	<string>1000060048128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFlutter</string>
	<key>PROJECT_ID</key>
	<string>login-flutter-a5cd8</string>
	<key>STORAGE_BUCKET</key>
	<string>login-flutter-a5cd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000060048128:ios:fa2d8c565b4beb65d419e5</string>
</dict>
</plist>